version: "3.8"

services:
  # ===============================================
  # 1. NODO SPARK MASTER (Driver)
  # ===============================================
  spark-master:
    image: jupyter/pyspark-notebook:latest
    container_name: spark-master
    hostname: spark-master
    command: "bash"
    stdin_open: true 
    tty: true
    environment:
      SPARK_MASTER_PORT: 7077
      SPARK_DRIVER_HOST: spark-master
      SPARK_DRIVER_PORT: 9000
      SPARK_LOCAL_IP: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./data:/opt/spark-data
      - ./src:/opt/spark-code
    networks:
      - spark-net

  # ===============================================
  # 2. NODO SPARK WORKER 1
  # ===============================================
  spark-worker-1:
    image: jupyter/pyspark-notebook:latest
    container_name: spark-worker-1
    hostname: spark-worker-1
    command: bash
    stdin_open: true
    tty: true
    environment:
      SPARK_WORKER_CORES: 1
      SPARK_WORKER_MEMORY: 1g
    volumes:
      - ./data:/opt/spark-data
    networks:
      - spark-net
    depends_on:
      - spark-master
    restart: always

  # ===============================================
  # 3. NODO SPARK WORKER 2
  # ===============================================
  spark-worker-2:
    image: jupyter/pyspark-notebook:latest
    container_name: spark-worker-2
    hostname: spark-worker-2
    command: bash
    stdin_open: true
    tty: true
    environment:
      SPARK_WORKER_CORES: 1
      SPARK_WORKER_MEMORY: 1g
    volumes:
      - ./data:/opt/spark-data
    networks:
      - spark-net
    depends_on:
      - spark-master
    restart: always

networks:
  spark-net:
    driver: bridge